<h2>{{title}}</h2>
<div *ngIf="results">
  <table class="table">
    <tbody *ngFor="let p of results">
      <tr *ngIf="groupEvent(p)">
        <th class="text-center active" colspan="3">
          {{p.EventFrom | date: 'fullDate'}}
        </th>
        <tr>
          <tr>
            <td class="text-center">
              {{p.EventFrom | date:'shortTime'}} - {{p.EventTo | date:'shortTime'}}
              &nbsp;&nbsp;&nbsp;&nbsp;
              {{p.Activity}}
            </td>
          </tr>
    </tbody>
  </table>
</div>
